<div class="grid grid-cols-1 lg:grid-cols-12 gap-6 mb-18">
  <div class="lg:col-span-8">
    @if (leadLoading()) {
      <p-card>
        <div class="flex justify-between mb-6">
          <p-skeleton width="200px" height="20px"></p-skeleton>
          <p-skeleton width="80px" height="20px"></p-skeleton>
        </div>

        <div class="grid grid-cols-2 gap-x-6 gap-y-5">
          @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track i) {
            <div>
              <p-skeleton width="80px" height="12px" class="mb-2"></p-skeleton>
              <p-skeleton width="100%" height="16px"></p-skeleton>
            </div>
          }

          <div class="col-span-2">
            <p-skeleton width="80px" height="12px" class="mb-2"></p-skeleton>
            <p-skeleton width="100%" height="16px"></p-skeleton>
          </div>
        </div>

        <p-divider></p-divider>

        <div class="flex justify-between">
          <p-skeleton width="140px" height="12px"></p-skeleton>
          <p-skeleton width="140px" height="12px"></p-skeleton>
        </div>
      </p-card>
    } @else {
      <!-- Lead Details -->

      <p-card class="">
        <!-- Header -->
        <ng-template pTemplate="title">
          <div class="flex justify-between items-center">
            <div>
              <div class="text-lg font-semibold">
                {{ lead()?.name | uppercase }}
              </div>
              <div class="text-sm text-gray-500">
                {{ lead()?.lead_code }}
              </div>
            </div>

            <p-tag
              [value]="lead()?.status | uppercase"
              [severity]="getStatusSeverity(lead()?.status)"
              class="capitalize"
              [rounded]="true"
              class="font-medium! text-sm!"
            ></p-tag>
          </div>
        </ng-template>

        <!-- Details -->
        <div class="grid grid-cols-2 gap-x-6 gap-y-5 text-sm">
          <div class="col-span-2">
            <div class="text-gray-500"><i class="pi pi-envelope text-sm! mr-1"></i>Email</div>
            <div class="font-medium">{{ lead()?.email }}</div>
          </div>

          <div class="col-span-2">
            <div class="text-gray-500"><i class="pi pi-phone text-sm! mr-1"></i>Contact</div>
            <div class="font-medium">{{ lead()?.contact_no }}</div>
          </div>

          <div>
            <div class="text-gray-500"><i class="pi pi-map-marker text-sm! mr-1"></i>Destination</div>
            <div class="font-medium capitalize">
              {{ lead()?.destination || '—' }}
            </div>
          </div>

          <div>
            <div class="text-gray-500"><i class="pi pi-users text-sm! mr-1"></i>Travellers</div>
            <div class="font-medium">
              {{ lead()?.travellers_count || '—' }}
            </div>
          </div>

          <div>
            <div class="text-gray-500"><i class="pi pi-indian-rupee text-sm! mr-1"></i>Budget</div>
            <div class="font-medium">₹{{ lead()?.budget || '—' }}</div>
          </div>

          <div>
            <div class="text-gray-500"><i class="pi pi-paperclip text-sm! mr-1"></i>Source</div>
            <div class="font-medium">{{ lead()?.source_type || '—' }}</div>
          </div>

          <div>
            <div class="text-gray-500"><i class="pi pi-user-plus text-sm! mr-1"></i>Assigned Agent</div>
            <div class="font-medium">
              {{ lead()?.assigned_agent_name || '—' }}
            </div>
          </div>

          <div>
            <div class="text-gray-500"><i class="pi pi-check-circle text-sm! mr-1"></i>Follow-up Status</div>
            <p-tag
              [value]="lead()?.follow_up_status | titlecase"
              [rounded]="true"
              [severity]="getFollowUpSeverity(lead()?.follow_up_status)"
              class="font-normal!"
            />
          </div>

          <div>
            <div class="text-gray-500"><i class="pi pi-calendar text-sm! mr-1"></i>Travel Date</div>
            <div class="font-medium">
              {{ lead()?.travel_date | date: 'dd MMM yyyy' }}
            </div>
          </div>

          <div>
            <div class="text-gray-500"><i class="pi pi-send text-sm! mr-1"></i>Departure</div>
            <div class="font-medium">{{ lead()?.departure_type || '—' }}</div>
          </div>

          <div>
            <div class="text-gray-500"><i class="pi pi-calendar text-sm! mr-1"></i>Follow-up Date</div>
            <div class="font-medium">
              {{ (lead()?.follow_up_date | date: 'dd MMM yyyy') || '—' }}
            </div>
          </div>

          <div class="col-span-2">
            <div class="text-gray-500"><i class="pi pi-pencil text-sm! mr-1"></i>Remark</div>
            <div class="font-medium">
              {{ lead()?.remark || '—' }}
            </div>
          </div>
        </div>

        <p-divider></p-divider>

        <!-- Footer -->
        <div class="flex justify-between text-xs text-gray-500">
          <span>
            Created:
            {{ lead()?.created_at | date: 'dd MMM yyyy, hh:mm a' }}
          </span>

          <span>
            Updated:
            {{ lead()?.updated_at | date: 'dd MMM yyyy, hh:mm a' }}
          </span>
        </div>
      </p-card>
    }
  </div>

  <div class="lg:col-span-4">
    @if (timelineLoading()) {
      <div class="space-y-6">
        @for (i of [1, 2, 3, 4]; track i) {
          <div class="flex gap-4">
            <p-skeleton shape="circle" size="12px"></p-skeleton>

            <div class="flex flex-col gap-2 w-full">
              <p-skeleton width="140px" height="14px"></p-skeleton>
              <p-skeleton width="100px" height="12px"></p-skeleton>
              <p-skeleton width="80%" height="12px"></p-skeleton>
            </div>
          </div>
        }
      </div>
    } @else {
      <!-- Activity Timeline -->

      <div class="mb-2">
        <h1 class="text-base text-gray-600 dark:text-gray-400">Activity Timeline</h1>
      </div>
      <div>
        <p-timeline [value]="timeline()" align="left">
          <ng-template #content let-item>
            <div class="flex flex-col gap-1">
              <!-- title -->
              <div class="font-semibold text-sm">
                {{ item.title }}
              </div>
              <!-- date -->
              <div class="text-xs text-gray-500">
                {{ item.createdAt | date: 'dd MMM yyyy, hh:mm a' }}
              </div>
              <!-- note -->
              @if (item.note) {
                <div class="text-sm text-gray-700 dark:text-gray-400">
                  {{ item.note }}
                </div>
              }
              <!-- old -> new value -->
              @if (item.oldValue || item.newValue) {
                <div class="text-xs text-gray-600 mt-1 mb-3">
                  @if (item.oldValue && item.newValue) {
                    <span class="font-medium">
                      @if (item.activityType === 'assigned') {
                        {{ item.oldValue.assigned_agent_name }}
                      }
                      @if (item.activityType === 'status_changed') {
                        {{ item.oldValue }}
                      }
                    </span>
                    →
                    <span class="font-medium text-green-600">
                      @if (item.activityType === 'assigned') {
                        {{ item.newValue.assigned_agent_name }}
                      }
                      @if (item.activityType === 'status_changed') {
                        {{ item.newValue }}
                      }
                    </span>
                  }
                </div>
              }
            </div>
          </ng-template>
        </p-timeline>
      </div>
    }
  </div>
</div>
